---
import { Icon } from 'astro-icon/components';
---

<div class="flex items-center gap-1 rounded-2xl border-2 border-gray-600 pl-2 pr-3">
    <Icon name="material-symbols:lightbulb-2" />
    <p>300 lux</p>
</div>