---

import Temperature from '../components/Temperature.astro';
import LightLevel from '../components/LightLevel.astro';
import Humidity from '../components/Humidity.astro';
import SensorTrend from '../components/SensorTrend.astro';
import Layout from '../layouts/Layout.astro';

import type { SensorResponse, SensorReading } from '../types/sensor';
import { listRooms } from '../database/api';

const rooms = await listRooms();

---

<Layout>
	<div class="flex flex-col items-center w-full gap-10 px-4">
		<h1 class="text-4xl text-center font-bold tracking-wide">Classroom Monitoring Platform</h1>
		<h2 class="text-2xl tracking-wide uppercase">Select room</h2>
		<div class="grid grid-flow-col has-[:nth-child(5)]:grid-cols-4 has-[:nth-child(5)]:grid-flow-row gap-4 max-w-full mx-auto">
			{rooms.map((room) =>
				<a href={`/rooms/${room.roomId}`} class="text-2xl border-2 border-zinc-700 px-8 py-3 rounded-xl cursor-pointer hover:bg-zinc-300">{room.roomName ?? room.roomId}</a>
			)}
		</div>
	</div>
</Layout>
